# Database
DATABASE_URL=postgresql://user:password@localhost:5432/todo_app_dev

# Backend
NODE_ENV=development
API_PORT=3001
API_HOST=http://localhost:3001
CORS_ORIGIN=http://localhost:5173

# Frontend
VITE_API_URL=http://localhost:3001
